# database info
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# google auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# email
SMTP_HOST=
SMTP_USER=
SMTP_PASS=
SMTP_PORT=

# aws s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_S3_ENDPOINT=