# enviroment
.env

# cache
/cache/twig/*
!/cache/twig/.gitkeep

# logs
logs/

# vendor
/vendor/


# archivos no necearios
models/crudtrait.php

public/uploads/*
!.gitkee


# archivos de confiuracion os
.DS_Store


# archivos doc
doc/mejoras.md

# database
/database/

# devices
#mac
.DS_Store
doc/mejoras.md
