# enviroment
.env

# cache
/cache/twig/*
!/cache/twig/.gitkeep

# logs
logs/

# vendor
/vendor/


# archivos no necearios
models/crudtrait.php


# archivos de confiuracion os
.DS_Store


# archivos doc
doc/mejoras.md