Options -Indexes

RewriteEngine On
RewriteBase /Tis1-proyecto-smart-city/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?ruta=$1 [L,QSA]